<h1> Rate a restaurant now </h1>

<h2> Choose the restaurant you want to rate </h2>

<form name="form_for_filter" id="form_for_filter" action="/rate_a_restaurant">
	Restaurant: <select name="r_id" id="r_id">
		{% for restaurant in data_restaurant %}
		<option value="{{restaurant.r_id}}" {% for record in data_record %} {% if restaurant.r_id == record.r %} disabled {% endif %}{% endfor %}> {{restaurant.r_name}} </option>
			
		{% endfor %}
	  </select>
	  <br><br>
	Rating: <select name="rating" id="rating">
		<option value=1> 1 </option>
		<option value=2> 2 </option>
		<option value=3> 3 </option>
		<option value=4> 4 </option>
		<option value=5> 5 </option>
	  </select>
	  <br><br>
	  <input type="submit" value="Submit">
	</form>
	

<a href="/home"> Back </a>